* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    color: #111;
    line-height: 1.6;
}
header {
    background: #ffdede;
    border-bottom: 2px solid #570000;
}
footer {
    background: #ffdede;
    border-top: 2px solid #570000;
    margin-top: 30px;
}
.pillnav ul {
    display: flex;
    background: #d9d9d9;
    padding: 5px;
    border-radius: 999px; /* hodně kulaté */
    gap: 5px;
}
.pillnav a {
    display: block;
    padding: 10px 18px;
    border-radius: 999px;
    text-decoration: none;
    color: #111;
    transition: background 0.25s, color 0.25s;
}
.pillnav a:hover {
    background: #ffb3b3;
}
.pillnav a[aria-current="page"] {
    background: #ff5959;
    color: white;
}
.pillnav a {
    transition: all 0.25s ease;
}
nav ul {
    list-style: none;      /* zruší tečky */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border: 1px solid #dedede;
    padding: 8px;
}
th {
    background: #e0e0e0;
}
.obrazky img {
    width: 510px;
    height: 400px;
    object-fit: cover;
    border: 1px solid #5c5c5c;
    border-radius: 2px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
button {
    width: 120px;
    padding: 8px;
    background: #ff5959;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #ffcdcd;
}
.box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px;
}
main {
    margin-top: 20px;
}
.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.small {
    font-size: 14px;
    color: #323232;
}
.bubble {
    background: white;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #b0b0b0;
    margin-bottom: 20px;
}